<div class="container-fluid">
  <div class="col-12">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="./assets/sockmeone.png" alt="First slide">
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="./assets/startupsocks.jpg" alt="Second slide">
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="./assets/pjsocks.png" alt="Third slide">
          </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
